*{
  padding: 0;
  margin: 0;
}
.font1{
  font-family: 'Oxygen', sans-serif;
}
.font2{
  font-family: 'Nanum Gothic', sans-serif;
}
body{
  .font1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none !important;
}
